/* Background for overflowing tables */
.rst-content table.docutils {
    background-color: #fcfcfc;
}

/* Fix header column cells */
.rst-content table.docutils tbody th {
    text-align: left;
}
.rst-content table.docutils:not(.field-list) tbody tr:nth-child(2n-1) th {
    background-color: #f3f6f6;
}
